/* Write your code here. */
.list-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  border: 1px solid #d7dae6;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.questionText {
  font-size: 25px;
  font-weight: 500;
}
.qsnt-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
  outline: none;
}
.separator {
  font-weight: 1px;
  background-color: #d7dae6;
  width: 85vw;
}
.answerText {
  color: #9aa5b1;
  font-size: 20px;
}
